.main-container {
    width: 100%;
    height: 300px;
    background: rgb(8, 0, 143);
    background: linear-gradient(180deg, rgba(8, 0, 143, 1) 0%, rgba(9, 9, 121, 1) 34%, rgba(8, 32, 136, 1) 45%, rgba(0, 138, 255, 1) 100%);
}
.main-left {
    float: left;
    width: 33%;
    margin-top: 20px;
    margin-left: 30px;
}

.main-left button {
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.main-title {
    color: white;
    font-size: 26px;
}

.main-title h4 {
    margin-bottom: 0px;
}

.main-content {
    color: white;
    margin-top: 20px;
}

.main-right {
    float: right;
}

.main-right img {
    width: 300px;
    height: 300px;
    margin-right: 20px;
}

.show-pf {
    width: 100%;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.show-title {
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .main-container {
        height: 600px;
    }
    .main-left {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}
